<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608907445764-rjt10feg1qt066qbh7aovufi28csoq04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608907445764-rjt10feg1qt066qbh7aovufi28csoq04</string>
	<key>API_KEY</key>
	<string>AIzaSyDveSOoVvRyAvZtkGADlrdq_w8EKmmjdV4</string>
	<key>GCM_SENDER_ID</key>
	<string>608907445764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trigeeks.UHShield</string>
	<key>PROJECT_ID</key>
	<string>uhsecurity-92854</string>
	<key>STORAGE_BUCKET</key>
	<string>uhsecurity-92854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608907445764:ios:f5a5e50cce2e7d49795751</string>
	<key>DATABASE_URL</key>
	<string>https://uhsecurity-92854.firebaseio.com</string>
</dict>
</plist>